aduanas_transport/data/cci/ES_stypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- editado por AEAT (Agencia Estatal de Administración Tributaria) -->
<xs:schema 
    xmlns:xs="http://www.w3.org/2001/XMLSchema" 
    elementFormDefault="unqualified" version="40.80"
    xmlns="https://www2.agenciatributaria.gob.es/static_files/common/internet/dep/aduanas/es/aeat/adip/jdit/ws/cci/ES_stypes.xsd"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    targetNamespace="https://www2.agenciatributaria.gob.es/static_files/common/internet/dep/aduanas/es/aeat/adip/jdit/ws/cci/ES_stypes.xsd"> 
       
    <xs:simpleType name="LRNContentType">
                <xs:restriction base="xs:token">
            <xs:pattern value="[!-~]{1,22}"/>
            <xs:maxLength value="22"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="MRNContentType">
                <xs:restriction base="xs:token">
            <xs:pattern value="[0-9]{2}[A-Z]{2}[A-Z0-9]{13}[0-9]"/>
            <xs:length value="18"/>
        </xs:restriction>
    </xs:simpleType>
	<xs:simpleType name="CRCContentType">
		<xs:restriction base="xs:token">
			<xs:maxLength value="17"/>
			<xs:pattern value="[a-zA-Z0-9]{1,17}"/>
		</xs:restriction>
	</xs:simpleType>    
    <xs:simpleType name="DateTimeType">
                <xs:restriction base="xs:token">
            <xs:pattern value="\d{4}-\d{2}-\d{2}T\d{2}:\d{2}:\d{2}"/>
            <xs:length value="19"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CORefNumType">
                <xs:restriction base="xs:token">
            <xs:pattern value="[A-Z]{2}[A-Z0-9]{6}"/>
            <xs:length value="8"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="EOIDContentType">
                <xs:restriction base="xs:token">
            <xs:pattern value="[A-Z]{2}[!-~]{1,15}"/>
            <xs:maxLength value="17"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="EONameContentType">
                <xs:restriction base="xs:token">
            <xs:pattern value=".{1,70}"/>
            <xs:maxLength value="70"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="StreetAndNumberContentType">
                <xs:restriction base="xs:token">
            <xs:pattern value=".{1,70}"/>
            <xs:maxLength value="70"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="PostcodeContentType">
                <xs:restriction base="xs:token">
            <xs:pattern value="\P{Z}(.*\P{Z})?"/>
            <xs:maxLength value="17"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CityContentType">
                <xs:restriction base="xs:token">
            <xs:pattern value=".{1,35}"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CountryCodeType">
                <xs:restriction base="xs:token">
            <xs:pattern value="[A-Z]{2}"/>
            <xs:length value="2"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="PhoneNumberContentType">
                <xs:restriction base="xs:token">
            <xs:pattern value=".{1,35}"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="EmailAddressContentType">
                <xs:restriction base="xs:token">
            <xs:pattern value="[^@]+@[^\.]+\..+"/>
            <xs:maxLength value="256"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RepStatusCodeContentType">
                <xs:restriction base="xs:token">
            <xs:pattern value="[0-9]{1}"/>
            <xs:length value="1"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ControlResultContentType">
                <xs:restriction base="xs:token">
            <xs:pattern value="[a-zA-Z0-9]{2}"/>
            <xs:length value="2"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="DateType">
                <xs:restriction base="xs:token">
            <xs:pattern value="\d{4}-\d{2}-\d{2}"/>
            <xs:length value="10"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="FreeTextContentType">
                <xs:restriction base="xs:token">
            <xs:pattern value="\P{Z}(.*\P{Z})?"/>
            <xs:maxLength value="512"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="FlagContentType">
                <xs:restriction base="xs:token">
            <xs:pattern value="[0-9]{1}"/>
            <xs:length value="1"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="SequenceNrContentType">
                <xs:restriction base="xs:token">
            <xs:pattern value="[0-9]{1,5}"/>
            <xs:maxLength value="5"/>
        </xs:restriction>
    </xs:simpleType>
	<xs:simpleType name="ItemNumberContentType">
		<xs:restriction base="xs:token">
			<xs:maxLength value="5"/>
			<xs:pattern value="[0-9]{1,5}"/>
		</xs:restriction>
	</xs:simpleType>
    <xs:simpleType name="RiskAreaCodeContentType">
                <xs:restriction base="xs:token">
            <xs:pattern value="[a-zA-Z0-9]{1,7}"/>
            <xs:maxLength value="7"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ControlTypeContentType">
                <xs:restriction base="xs:token">
            <xs:pattern value="[a-zA-Z0-9]{1,3}"/>
            <xs:maxLength value="3"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="DiscrepanciesContentType">
                <xs:restriction base="xs:token">
            <xs:pattern value="[a-zA-Z0-9]{1,2}"/>
            <xs:maxLength value="2"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="DocumentTypeContentType">
                <xs:restriction base="xs:token">
            <xs:pattern value="[a-zA-Z0-9]{4}"/>
            <xs:length value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="DeclarationTypeContentType">
                <xs:restriction base="xs:token">
            <xs:pattern value="[a-zA-Z0-9]{1,5}"/>
            <xs:maxLength value="5"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AdditionalDeclarationTypeContentType">
                <xs:restriction base="xs:token">
            <xs:pattern value="[a-zA-Z]{1}"/>
            <xs:length value="1"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AuthorisationTypeContentType">
                <xs:restriction base="xs:token">
            <xs:pattern value="[a-zA-Z0-9]{1,4}"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AuthorisationNumberContentType">
                <xs:restriction base="xs:token">
            <xs:pattern value="[ -~]{1,35}"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="TypeOfGuaranteeContentType">
                <xs:restriction base="xs:token">
            <xs:pattern value="[a-zA-Z0-9]{1}"/>
            <xs:length value="1"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="GRNContentType">
                <xs:restriction base="xs:token">
            <xs:pattern value="[0-9]{2}[A-Z]{2}[A-Z0-9]{12}[0-9]([A-Z][0-9]{6})?"/>
            <xs:maxLength value="24"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AccessCodeContentType">
                <xs:restriction base="xs:token">
            <xs:pattern value="[a-zA-Z0-9]{1,4}"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CurrencyContentType">
                <xs:restriction base="xs:token">
            <xs:pattern value="[a-zA-Z]{3}"/>
            <xs:length value="3"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AmountContentType">
                <xs:restriction base="xs:decimal">
            <xs:totalDigits value="16"/>
            <xs:fractionDigits value="2"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="GuaranteeReferenceContentType">
                <xs:restriction base="xs:token">
            <xs:pattern value="[a-zA-Z0-9]{1,35}"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExchangeRateContentType">
                <xs:restriction base="xs:decimal">
            <xs:totalDigits value="12"/>
            <xs:fractionDigits value="5"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="DeferredPaymentContentType">
                <xs:restriction base="xs:token">
            <xs:pattern value="[a-zA-Z0-9]{1,35}"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="NatureOfTransactionContentType">
                <xs:restriction base="xs:token">
            <xs:pattern value="[0-9]{1,2}"/>
            <xs:maxLength value="2"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RoleCodeContentType">
                <xs:restriction base="xs:token">
            <xs:pattern value="[a-zA-Z]{1,3}"/>
            <xs:maxLength value="3"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="IncotermCodeContentType">
                <xs:restriction base="xs:token">
            <xs:pattern value="[a-zA-Z]{3}"/>
            <xs:length value="3"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="UNLOCODEContentType">
                <xs:restriction base="xs:token">
            <xs:pattern value="[a-zA-Z0-9]{1,17}"/>
            <xs:maxLength value="17"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="LocationNameContentType">
                <xs:restriction base="xs:token">
            <xs:pattern value=".{1,35}"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RegionContentType">
                <xs:restriction base="xs:token">
            <xs:pattern value=".{1,35}"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="TypeOfWarehouseContentType">
                <xs:restriction base="xs:token">
            <xs:pattern value="[a-zA-Z]{1}"/>
            <xs:length value="1"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="WarehouseIDContentType">
                <xs:restriction base="xs:token">
            <xs:pattern value="[ -~]{1,35}"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="DocumentRefNumberContentType">
                <xs:restriction base="xs:token">
            <xs:pattern value=".{1,70}"/>
            <xs:maxLength value="70"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="IssuingAuthorityNameContentType">
                <xs:restriction base="xs:token">
            <xs:pattern value=".{1,70}"/>
            <xs:maxLength value="70"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AdditionalInfoCodeContentType">
                <xs:restriction base="xs:token">
            <xs:pattern value="[a-zA-Z0-9]{5}"/>
            <xs:length value="5"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ValuationCodeContentType">
                <xs:restriction base="xs:token">
            <xs:pattern value="[a-zA-Z]{2}"/>
            <xs:length value="2"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="FiscalRoleContentType">
                <xs:restriction base="xs:token">
            <xs:pattern value="[a-zA-Z0-9]{3}"/>
            <xs:length value="3"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="VATIdentificationContentType">
                <xs:restriction base="xs:token">
            <xs:pattern value="[a-zA-Z0-9]{1,17}"/>
            <xs:maxLength value="17"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="TransportModeContentType">
                <xs:restriction base="xs:token">
            <xs:pattern value="[0-9]{1}"/>
            <xs:length value="1"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="QuantityContentType">
                <xs:restriction base="xs:decimal">
            <xs:totalDigits value="16"/>
            <xs:fractionDigits value="6"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ReferenceNumberUCRContentType">
                <xs:restriction base="xs:token">
            <xs:pattern value="[!-~]{1,35}"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ContainerIdentificationNumberContentType">
                <xs:restriction base="xs:token">
            <xs:pattern value="[ -~]{1,17}"/>
            <xs:maxLength value="17"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="TypeOfLocationContentType">
                <xs:restriction base="xs:token">
            <xs:pattern value="[a-zA-Z]{1}"/>
            <xs:length value="1"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="LocationIDQualifierContentType">
                <xs:restriction base="xs:token">
            <xs:pattern value="[a-zA-Z]{1}"/>
            <xs:length value="1"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AdditionalIdentifierContentType">
                <xs:restriction base="xs:token">
            <xs:pattern value="[a-zA-Z0-9]{1,4}"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="GNSSContentType">
                <xs:restriction base="xs:token">
            <xs:pattern value="[+-]?([0-8]?[0-9]\.[0-9]{5,7}|90.000000?0?)"/>
            <xs:maxLength value="17"/>
        </xs:restriction>
    </xs:simpleType>
    
	<xs:simpleType name="GNSSLatitudeContentType">
        <xs:restriction base="xs:string">
            <xs:pattern value="[+-]?([0-8]?[0-9]\.[0-9]{5,7}|90.000000?0?)"/>
            <xs:maxLength value="17"/>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="GNSSLongitudeContentType">
        <xs:restriction base="xs:string">
            <xs:pattern value="[+-]?((0?[0-9]?|1[0-7])[0-9]\.[0-9]{5,7}|180.000000?0?)"/>
            <xs:maxLength value="17"/>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="HouseNumberContentType">
                <xs:restriction base="xs:token">
            <xs:pattern value=".{1,35}"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="TransportMeansIdentificationTypeContentType">
                <xs:restriction base="xs:token">
            <xs:pattern value="[0-9]{2}"/>
            <xs:length value="2"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="TransportMeansIDContentType">
                <xs:restriction base="xs:token">
            <xs:pattern value="\P{Z}(.*\P{Z})?"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ProcedureCodeContentType">
                <xs:restriction base="xs:token">
            <xs:pattern value="[a-zA-Z0-9]{2}"/>
            <xs:length value="2"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AdditionalProcedureContentType">
                <xs:restriction base="xs:token">
            <xs:pattern value="[a-zA-Z0-9]{3}"/>
            <xs:length value="3"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="PreferentialOriginContentType">
                <xs:restriction base="xs:token">
            <xs:pattern value="[a-zA-Z0-9]{1,4}"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CUSCodeContentType">
                <xs:restriction base="xs:token">
            <xs:pattern value=".{1,9}"/>
            <xs:length value="9"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="QuotaOrderNumberContentType">
                <xs:restriction base="xs:token">
            <xs:pattern value="[a-zA-Z0-9]{6}"/>
            <xs:length value="6"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="HarmonizedSysCodeContentType">
                <xs:restriction base="xs:token">
            <xs:pattern value="[a-zA-Z0-9]{6}"/>
            <xs:length value="6"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CombinedNomenclatureCodeContentType">
                <xs:restriction base="xs:token">
            <xs:pattern value="[a-zA-Z0-9]{2}"/>
            <xs:length value="2"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="TaricContentType">
                <xs:restriction base="xs:token">
            <xs:pattern value="[a-zA-Z0-9]{2}"/>
            <xs:length value="2"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="TaricAdditionalCodeContentType">
                <xs:restriction base="xs:token">
            <xs:pattern value="[a-zA-Z0-9]{4}"/>
            <xs:length value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="NationalComCodeContentType">
                <xs:restriction base="xs:token">
            <xs:pattern value="[a-zA-Z0-9]{1,4}"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="PreferenceContentType">
                <xs:restriction base="xs:token">
            <xs:pattern value="[0-9]{3}"/>
            <xs:length value="3"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="TaxTypeContentType">
                <xs:restriction base="xs:token">
            <xs:pattern value="[a-zA-Z0-9]{3}"/>
            <xs:length value="3"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="MethodOfPaymentContentType">
                <xs:restriction base="xs:token">
            <xs:pattern value="[a-zA-Z]{1}"/>
            <xs:length value="1"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="TaxRateContentType">
                <xs:restriction base="xs:decimal">
            <xs:totalDigits value="17"/>
            <xs:fractionDigits value="3"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="MeasurementUnitContentType">
                <xs:restriction base="xs:token">
            <xs:pattern value="[a-zA-Z0-9]{1,4}"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="TypeOfPackagesContentType">
                <xs:restriction base="xs:token">
            <xs:pattern value="[a-zA-Z0-9]{2}"/>
            <xs:length value="2"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="NumberOfPackagesContentType">
                <xs:restriction base="xs:token">
            <xs:pattern value="[0-9]{1,8}"/>
            <xs:maxLength value="8"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ValuationMethodContentType">
                <xs:restriction base="xs:token">
            <xs:pattern value="[0-9]{1}"/>
            <xs:length value="1"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ValuationIndicatorContentType">
                <xs:restriction base="xs:token">
            <xs:pattern value="[0-1]{4}"/>
            <xs:length value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="OperationContentType">
                <xs:restriction base="xs:token">
            <xs:pattern value="[A-Za-z]{1}"/>
            <xs:length value="1"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="SystemUnavailabilityContentType">
                <xs:restriction base="xs:token">
            <xs:pattern value="[a-zA-Z]{1}"/>
            <xs:length value="1"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="FunctionalityContentType">
                <xs:restriction base="xs:token">
            <xs:pattern value="[A-Za-z]{1}"/>
            <xs:length value="1"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExplanationContentType">
                <xs:restriction base="xs:token">
            <xs:pattern value=".{2}"/>
            <xs:length value="2"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RiskAnalysisIndicatorContentType">
                <xs:restriction base="xs:token">
            <xs:pattern value="[a-zA-Z]{1}"/>
            <xs:length value="1"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="FRCContentType">
                <xs:restriction base="xs:token">
            <xs:pattern value="[a-zA-Z0-9]{1,17}"/>
            <xs:maxLength value="17"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="MessageTypeContentType">
                <xs:restriction base="xs:token">
            <xs:pattern value=".{6}"/>
            <xs:length value="6"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="YearContentType">
                <xs:restriction base="xs:token">
            <xs:pattern value="[2][0][1-9][0-9]"/>
            <xs:length value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="MonthContentType">
                <xs:restriction base="xs:token">
            <xs:pattern value=".{2}"/>
            <xs:length value="2"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="WarningPointerContentType">
                <xs:restriction base="xs:token">
            <xs:pattern value=".{1,512}"/>
            <xs:maxLength value="512"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="WarningCodeContentType">
                <xs:restriction base="xs:token">
            <xs:pattern value=".{6}"/>
            <xs:length value="6"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RejectionTypeContentType">
                <xs:restriction base="xs:token">
            <xs:pattern value="[a-zA-Z0-9]{3}"/>
            <xs:length value="3"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RejectionCodeContentType">
                <xs:restriction base="xs:token">
            <xs:pattern value="[0-9]{1}"/>
            <xs:length value="1"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ErrorCodeContentType">
                <xs:restriction base="xs:token">
            <xs:pattern value="[0-9]{2}"/>
            <xs:length value="2"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ErrorReasonContentType">
                <xs:restriction base="xs:token">
            <xs:pattern value=".{1,10}"/>
            <xs:maxLength value="10"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="NotificationTypeContentType">
                <xs:restriction base="xs:token">
            <xs:pattern value="[0-9]{1}"/>
            <xs:length value="1"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="FileTypeContentType">
                <xs:restriction base="xs:token">
            <xs:pattern value=".{1,200}"/>
            <xs:maxLength value="200"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="DocumentImageContentType">
                <xs:restriction base="xs:base64Binary">
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="SystemCodeContentType">
                <xs:restriction base="xs:token">
            <xs:pattern value="[0-9]{1,2}"/>
            <xs:maxLength value="2"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="StatisticsType">
                <xs:restriction base="xs:token">
            <xs:pattern value="[a-zA-Z0-9]{4}"/>
            <xs:length value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="StatisticsTypeSupportContentType">
                <xs:restriction base="xs:token">
            <xs:pattern value="[0-9]{1}"/>
            <xs:length value="1"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="OtherCountryContentType">
                <xs:restriction base="xs:token">
            <xs:pattern value="[A-Za-z]{2}"/>
            <xs:length value="2"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CounterContentType">
                <xs:restriction base="xs:token">
            <xs:pattern value="[0-9]{1,9}"/>
            <xs:maxLength value="9"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="XMLErrorContentType">
                <xs:restriction base="xs:token">
            <xs:pattern value="[0-9]{1,9}"/>
            <xs:maxLength value="9"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>

